<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vuetify@3.1.14/dist/vuetify.min.css"
    />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.14/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/@opentf/vue-input-mask"></script>
    <style>
      #app {
        padding: 25px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div>
        <v-text-field
          label="Date"
          density="compact"
          variant="outlined"
          v-model="state.date"
          v-mask="{ mask: '##/##/####' }"
        />
      </div>
      <div>
        <v-text-field
          label="Time"
          density="compact"
          variant="outlined"
          v-model="state.time"
          v-mask="{
            mask: '##:## @M',
            tokens: {
              '@': {
                pattern: '[AP]',
                transform: (v) => v.toLocaleUpperCase(),
              },
            },
          }"
        />
      </div>
      <div>
        <v-text-field
          label="Credit Card"
          density="compact"
          variant="outlined"
          v-model="state.creditCard"
          v-mask="{ mask: '#### #### #### ####' }"
        />
      </div>
      <div>
        <v-text-field
          label="Hex Color"
          density="compact"
          v-model="state.hex"
          v-mask="{
              mask: '\\#FFFFFF',
              tokens: {
                F: {
                  pattern: /[0-9a-fA-F]/,
                  transform: (v) => v.toLocaleUpperCase(),
                },
              },
            }"
        />
      </div>
      <div>
        <v-text-field
          label="US Phone"
          density="compact"
          variant="outlined"
          v-model="state.usPhone"
          v-mask="{ mask: '+1 (###) ###-####', raw: (v) => (raw = v) }"
        />
      </div>
      <div>
        <v-alert color="info" density="compact" variant="outlined">
          Raw: {{ raw }}
        </v-alert>
      </div>
    </div>
    <script>
      const App = {
        data() {
          return {
            raw: "",
            state: {
              date: "",
              time: "",
              creditCard: "",
              usPhone: "0123456789",
              hex: "",
            },
          };
        },
      };
      const app = Vue.createApp(App);
      const { createVuetify } = Vuetify;
      const vuetify = createVuetify();
      app.use(vuetify);
      app.directive("mask", VueInputMask.vMask);
      app.mount("#app");
    </script>
  </body>
</html>
