.App {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

td {
  padding: 10px;
}

input {
  padding: 10px;
}
